<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>613734420430-l4k0np3ethqkg3nnhr0jcu100rt6muvv.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.613734420430-l4k0np3ethqkg3nnhr0jcu100rt6muvv</string>
	<key>API_KEY</key>
	<string>AIzaSyBS-PRiUKlWeIBy4jqbLtUC-MlVNxxubT0</string>
	<key>GCM_SENDER_ID</key>
	<string>613734420430</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.schoolNetworkingProject</string>
	<key>PROJECT_ID</key>
	<string>mobile-app-proj-4ad2e</string>
	<key>STORAGE_BUCKET</key>
	<string>mobile-app-proj-4ad2e.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:613734420430:ios:ad194b8ce46b5c1d60659f</string>
</dict>
</plist>